a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
th,
td {
  color: white;
}

.iconContainer {
  margin: 0 auto;
  min-height: 100% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.manage {
  color: #26547c;
}

.managePage {
  background-color: #26547c;
}

.createPage {
  background-color: #774c60;
}

.explorePage {
  background-color: #774c60;
}

.fullPage {
  min-height: 100% !important;
}
.manage:hover {
  background-color: #26547c;
  color: white;
}

.create {
  color: #774c60;
}

.create:hover {
  background-color: #774c60;
  color: white;
}

.explore {
  color: #b75d69;
}

.explore:hover {
  background-color: #b75d69;
  color: white;
}

.container {
  height: 100%;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.icon {
  height: 8rem;
  width: 8rem;
  display: block;
  margin: 0 auto;
}

.icon-small {
  height: 3rem;
  width: 3rem;
  display: block;
  margin: 0 auto;
}

.subtitle {
  font-size: 2rem;
  color: white;
}

.disabled {
  display: none;
}

.visible {
  display: block;
}

/***** form *********/

form {
  width: 100%;
  margin: 0 auto;
}

.formGroup {
  width: 100%;
}

.row {
  margin: 0 !important;
}

.exploreForm {
  padding-top: 2rem;
  width: 50%;
  margin: 0 auto;
}
input[type="text"] {
  padding: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: 2px solid #774c60;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #774c60;
}
label {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Geneva, Tahoma, sans-serif;
}
.btn {
  border: 2px solid white;
  color: white;
  margin: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover,
.btn:active {
  background-color: #774c60;
  color: white;
  text-decoration: none;
}

/***** loader *********/
.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #774c60;
  width: 8rem;
  height: 8rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  margin: 0 auto;
  min-height: 100% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  height: 100%;
  width: 100%;
  min-height: 100% !important;
}

.pageContainer {
  padding-top: 6%;
  width: 100%;
}

.navbarContainer {
  width: 100%;
  padding-top: 2%;
  margin-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  z-index: 1;
}

.accountContainer {
  border: 1px solid gray;
  padding: 3px;
}

/* Style the counter cards */
.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: white;
  margin-bottom: 2px;
}

.card:hover {
  background-color: lightblue;
  color: white;
}

.card h3 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1.3rem;
}
